%div{ :id => 'container', :style => "width: #{@video.width}px; position: absolute; left: 50%; margin-left: #{-@video.width / 2}px;" }
  %h1= @video.name
  %video{ :width => @video.width, :height => @video.height, :controls => true }
    %source{ :src => @video.path.gsub('./public', ''), :type => "video/#{@video.type}" }
  %div{ :id => 'adjacency' }
    - if @idx > 0
      %a{ :href => "#{@idx - 1}", :rel => 'prev', :style => 'float: left;' }= @videos[@idx - 1].name
    - if @idx < @videos.length - 1
      %a{ :href => "#{@idx + 1}", :rel => 'next', :style => 'float: right;' }= @videos[@idx + 1].name
    %div{ :style => 'clear: both;' }
